a {
    position: relative;
    color: #9c1c3a;
    text-decoration: none;
  }
  
  a:hover {
    color: #9c1c3a;
  }
  
  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9c1c3a;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
  }
  
  a:hover::before {
    transform: scaleX(1);
  }
