


.container{
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    height: 220px;
    justify-content: center;
    /* grid-gap: 40px; */
}


.box{
    width: 100px;
    /* text-align: center; */
    display: flex;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    height: 100px;
    /* border: 1px solid black; */
}

.box1{
    width: 200px;
    line-height: 15vh;
    font-size: 55px;
    height: 95px;
    background-color: orange;
    align-self: center;
}

.box2{
    background-color: skyblue;
    width: 200px;
    line-height: 18vh;
    font-size: 70px;
    height: 125px;
    align-self: center;
}

.box3{
    width: 290px;
    line-height: 30vh;
    font-size: 100px;
    text-align: center;
    align-self: flex-end;
    height: 210px;
    background-color: aquamarine;
}

.box4{
    width: 200px;
    height: 125px;
    line-height: 18vh;
    font-size: 70px;
    background-color: gold;
    align-self: center;
}

.box5{
    width: 200px;
    line-height: 15vh;
    font-size: 55px;
    height: 95px;
    background-color: salmon;
    align-self: center;
}
